html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ivory;
}

.note > div {
    background-color: hsla(210, 10%, 8%, 0.8);
    color: #FFFFFF;
    padding: .4em .6em;
    line-height: 1;
    border-radius: 4px;
    font-family: sans-serif;
    white-space: nowrap;
}